.about-container, .about-container h1, .about-container p {
    text-align: left;
}

.about-container {
    max-width: 800px;
    margin: 100px auto 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: calc(100vh - 180px); /* Footer için boşluk bırakıldı */
}

.about-container h1 {
    font-size: 2.5rem;
    color: #2f2f2f;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .about-container {
        margin: 80px auto 0;
        padding: 15px;
        width: 90%;
        min-height: calc(100vh - 150px); /* Mobilde footer için boşluk ayarlandı */
    }

    .about-container h1 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .about-container p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 12px;
    }
}