.footer {
  background-color: var(--footer-bg);
  color: var(--text-light);
  text-align: center;
  padding: 1.5rem 1rem;
  margin-bottom: 0;
  width: 100%;
  flex-shrink: 0; /* Footer'ın küçülmemesini sağlar */
}

.footer-content {
  display: flex;
  justify-content: space-between; /* İçeriği iki yana yasla */
  align-items: center;
  max-width: 1200px; /* İçeriği sınırla */
  margin: 0 auto; /* Ortala */
  flex-wrap: wrap; /* Küçük ekranlarda alt alta gelmesini sağla */
}

.footer-content h2 {
  color: var(--text-light); /* Değişken kullanıldı */
  font-size: 1.5rem; /* Başlık boyutu */
  margin: 0; /* Başlık için varsayılan boşluğu kaldır */
  font-weight: 600; /* Kalın yazı tipi */
  text-transform: uppercase; /* Büyük harf yap */
  letter-spacing: 1px; /* Harfler arası boşluk */
  margin-bottom: 0.5rem; /* Başlık ile paragraf arasında boşluk */
}
  .footer-content h3 {
      color: var(--text-light); /* Değişken kullanıldı */
      font-size: 1.2rem; /* Başlık boyutu */
      margin: 0; /* Başlık için varsayılan boşluğu kaldır */
      font-weight: 600; /* Kalın yazı tipi */
      text-transform: uppercase; /* Büyük harf yap */
      letter-spacing: 1px; /* Harfler arası boşluk */
      margin-bottom: 0.5rem; /* Başlık ile paragraf arasında boşluk */
    }
.footer-content p {
margin: 0; /* Dikey margin kaldırıldı, hizalamayı iyileştirmek için */
}

.footer-links a {
  color: var(--text-light); /* Değişken kullanıldı */
  text-decoration: none;
  margin-left: 1rem; /* Bağlantılar arasına boşluk ekle */
  transition: color 0.3s ease; /* Renk geçişi efekti */
}

.footer-links a:hover {
  color: var(--link-hover-color); /* Değişken kullanıldı */
}

/* Küçük ekranlar için ek düzenlemeler */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* İçeriği dikey hizala */
    text-align: center;
  }

  .footer-links {
    margin-top: 0.5rem;
  }

  .footer-links a {
    margin: 0 0.5rem; /* Bağlantı boşluklarını ayarla */
  }
}

.footer-bottom {
  padding: 0.5rem 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}