.home-hero-section {
  position: relative;
  width: 100%; /* 100vw yerine 100% yapıldı */
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



.home-button {
  position: relative;
  z-index: 1;
}



.products-grid {
  position: relative;
  z-index: 2;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 10rem;
}

.product-card {
    position: relative;
    left: 5%;
    background-color: #ffffff; /* Beyaz için değişken eklenebilir veya kalabilir */
    border: 1px solid var(--border-color); /* Değişken kullanıldı */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--shadow-color); /* Değişken kullanıldı */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 25rem !important; /* Genişlik değişkeni güncellenebilir */
    margin: 10px;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Gölge değişkeni güncellenebilir */
    }
}



@media (max-width: 768px) {
    .products-grid {
        margin-top: 3rem;
    }

    .product-card {
        width: 90%;
        left: 0;
        margin: 10px auto;
        padding: 15px;
    }

    .product-image {
        height: 200px;
    }

   
}
