.home-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-light); /* Değişken kullanıldı */
  position: relative;
}

.products-grid {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10rem;
}

.product-card {
    position: relative;
    left: 4.5%;
    background-color: #ffffff; /* Beyaz için değişken eklenebilir veya kalabilir */
    border: 1px solid var(--border-color); /* Değişken kullanıldı */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--shadow-color); /* Değişken kullanıldı */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 30rem;
    margin: 10px;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Gölge değişkeni güncellenebilir */
    }
}

.home-button {
    position: absolute;
    top: 75%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 1.2rem 2.4rem;
    background-color: transparent;
    border: 2px solid var(--accent-color); /* Değişken kullanıldı */
    color: var(--text-light); /* Değişken kullanıldı (Ana sayfada beyaz) */
    border-radius: 5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
    padding: 1.2rem 2.4rem;
}

.home-button:hover {
    background-color: var(--accent-color); /* Değişken kullanıldı */
    color: white; /* Beyaz için değişken eklenebilir */
}

@media (max-width: 768px) {
    .products-grid {
        margin-top: 3rem;
    }

    .product-card {
        width: 90%;
        left: 0;
        margin: 10px auto;
        padding: 15px;
    }

    .product-image {
        height: 200px;
    }

    .home-button {
        top: 70%;
        padding: 10px 20px;
        font-size: 14px;
    }
}
