body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    font-size: 4rem; /* Yazı boyutu büyütüldü */
    font-family: 'Poppins', sans-serif; /* Yazı tipi değiştirildi */
}

h2, h3 {
    color: #222;
    font-weight: 700;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.layer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-size: cover;
    background-position: center;
}

.layer-1 {
    background-image: url('/public/r1.jpeg'); /* RUVIDO TEKSTİL için görsel */
}

.layer-2 {
    background-image: url('/public/r2.jpeg'); /* KALİTE için görsel */
}

.layer-3 {
    background-image: url('/public/r3.jpeg'); /* TASARIM için görsel */
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Mobil cihazlar için daha küçük yazı boyutu */
        padding: 0 10px; /* Kenar boşluklarını azalt */
    }

    h1, h2, h3 {
        font-size: 1.5rem; /* Başlık boyutlarını küçült */
    }

    .container {
        padding: 0 1rem; /* Mobilde kenar boşluklarını optimize et */
    }
}
