.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* Hafif arka plan bulanıklığı ekleniyor */
    background-color: rgba(255, 255, 255, 0.1); /* Şeffaf arka plan */
    color: #333; /* Navbar yazıları beyaz yapılıyor */
    padding: 0.5rem 2rem;
    border-radius: 50px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(73, 73, 73, 0.1);
    z-index: 1000;
    width: auto;
    max-width: 100%;
    transition: background-color 0.3s;
}


.navbar-logo {
    font-size: 1rem;
    
    font-family: 'Arial', sans-serif;
    margin-right: 2rem;
}
.navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    font-size: 1rem;
}

.navbar-links a {
    color: #333; /* Navbar yazıları beyaz yapılıyor */
    text-decoration: none; /* Alt çizgi kaldırılıyor */
}
body.home .navbar {
    color: rgb(255, 255, 255); /* Ana ekranda beyaz arka plan */
    
}
body.home .navbar-links a {
    color: #fff; /* Ana ekranda beyaz renk */
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Navbar öğelerini dikey hizala */
        padding: 10px; /* Mobilde daha az padding */
    }

    .navbar-links {
        flex-direction: column; /* Linkleri dikey hizala */
        gap: 10px; /* Linkler arasında boşluk */
    }

    .navbar-logo {
        margin-bottom: 10px; /* Logo ile linkler arasında boşluk */
    }
}